<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Sahip Olmadığınız Etkinlik Rozetleri:</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <div id="notOwnedBadges">
          </div>
        </div>
      </div>
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with by
                <a href="https://atelier801.com/profile?pr=Enesxfbxpro" class="font-weight-bold" target="_blank">Enesxfbxpro</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<style>
  .list-group-item {
    margin-top: 10px
  }

  .list-group-item:nth-child(3n - 1) {
    margin-left: 5%;
  }

  .list-group-item:nth-child(3n) {
    margin-left: 5%;
  }
</style>

<script src="/static/assets/js/event.js"></script>
